@model List<SalesOrder2021.Models.ElectionOrderDetails>

@{
    ViewBag.Title = "Election Order";
}

<style>
    .table_header {
        border: 1px solid black;
        padding: 5px;
        font-weight: 600;
    }

    .table_subheader {
        border-bottom: 1px solid black;
        padding: 5px;
        font-weight: 600;
    }

    .table_content {
        border: 1px solid black;
        text-align: center;
        vertical-align: top;
        padding: 5px;
    }

    .table_content_large {
        border: 1px solid black;
        text-align: center;
        font-size: 24px;
        padding: 10px;
    }
</style>

<br />

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-10 col-md-12">
                @Html.ActionLink("Sales Order", "Order", "Sales", new { so = ViewBag.SalesOrder }, new { @class = "btn btn-primary link_small" })

                @Html.ActionLink("Election Order", "Order", "Election", new { so = item.SalesOrderNo }, new { @class = "btn btn-primary link_small" })

                @Html.ActionLink("Ballot Order", "Order", "Ballot", new { eo = item.ElectionOrderNo }, new { @class = "btn btn-primary link_small" })

                @Html.ActionLink("Supply Order", "Order", "Supply", new { eo = item.ElectionOrderNo }, new { @class = "btn btn-primary link_small" })

                @Html.ActionLink("Custom Order", "Order", "Custom", new { eo = item.ElectionOrderNo }, new { @class = "btn btn-primary link_small" })

                <div class="col-md-1 pull-right">
                    @Html.ActionLink("Ballot Images", "Images", "History", new { eo = item.ElectionOrderNo }, new { @class = "btn btn-primary link_small" })
                </div>
            </div>
        </div>
        <br />
        <div class="col-lg-10 col-md-12">
            @Html.ActionLink("Add Shipping Order", "Create", "Shipping", new { so = item.SalesOrderNo, eo = item.ElectionOrderNo }, new { @class = "link_small" })
        </div>

        <div class="col-lg-10 col-md-12">
            <h2 style="text-align:center;">@item.GovType Election Order</h2>
            @if (item.ElectionDate >= DateTime.Now.Date)
            {
                <p style="text-align:center; margin-top:-10px;">
                    <a id="btnAdd" href="#" style="font-size:16px; text-align:center;" onclick="EditElectionOrder(@item.ElectionOrderNo)">Edit</a>
                </p>
            }
            else
            {
                <p>&nbsp;</p>
            }
        </div>


        <div class="form-horizontal">
            <div class="row">
                <div class="col-lg-5 col-md-7" style="min-width:500px;">
                    <img src='@Url.Content("~/Images/AESslug.png")' width="460" />
                </div>

                <div class="col-md-5">
                    <table style="width:100%;">
                        <tr>
                            <td class="table_header" style="text-align:right; border:0px solid transparent;">
                                Election Order No
                            </td>
                            <td class="table_content" style="border:1px solid black;">
                                @Html.HiddenFor(model => item.ElectionOrderNo)
                                &nbsp;
                                @Html.DisplayFor(model => item.ElectionOrderNo, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:right; border:0px solid transparent;">
                                Sales Order No
                            </td>
                            <td class="table_content" style="border:1px solid black;">
                                &nbsp;
                                @Html.DisplayFor(model => item.SalesOrderNo, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:right; border:0px solid transparent;">
                                Date of Entry
                            </td>
                            <td class="table_content" style="border:1px solid black;">
                                &nbsp;
                                @Html.DisplayFor(model => item.EntryDate, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <table style="width:100%;">
                        <tr>
                            <td class="table_header" style="text-align:left; border:0px solid transparent; width:75%;">
                                Election Title
                            </td>
                            <td class="table_header" style="text-align:left; border:0px solid transparent;">
                                Election Date
                            </td>
                        </tr>
                        <tr>
                            <td class="table_content" style="text-align:left; border:1px solid black; width:75%;">
                                &nbsp;
                                @Html.DisplayFor(model => item.ElectionTitle, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td class="table_content" style="text-align:left; border:1px solid black;">
                                &nbsp;
                                @Html.DisplayFor(model => item.ElectionDate, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <table style="width:100%;">
                        <tr>
                            <td class="table_header">
                                &nbsp;
                                @Html.DisplayFor(model => item.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_content" style="text-align:left;">
                                &nbsp;Contact:
                                @Html.DisplayFor(model => item.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                                &nbsp;Phone:
                                @Html.DisplayFor(model => item.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_content" style="text-align:left;">
                                &nbsp;Email:
                                @Html.DisplayFor(model => item.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table style="width:100%;">
                        <tr>
                            <td class="table_header" style="text-align:left;">
                                Polling Place Machine
                            </td>
                            <td class="table_content" style="text-align:left;">
                                &nbsp;
                                @Html.DisplayFor(model => item.PollingPlace, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:left;">
                                Absentee Machine
                            </td>
                            <td class="table_content" style="text-align:left;">
                                &nbsp;
                                @Html.DisplayFor(model => item.Absentee, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:left;">
                                Early Voting Machine
                            </td>
                            <td class="table_content" style="text-align:left;">
                                &nbsp;
                                @Html.DisplayFor(model => item.EarlyVoting, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>

                <div class="col-md-5">
                    <table style="width:100%;">
                        <tr>
                            <td class="table_header" style="text-align:left; width:30%;">
                                # of Districts
                            </td>
                            <td class="table_content" style="text-align:center; width:20%;">
                                &nbsp;
                                @Html.DisplayFor(model => item.Districts, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td class="table_header" style="text-align:left; width:30%;">
                                # of Questions
                            </td>
                            <td class="table_content" style="text-align:center; width:20%;">
                                &nbsp;
                                @Html.DisplayFor(model => item.Questions, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:center;" colspan="4">
                                English Proclamation
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" colspan="1">
                                <label><input type="checkbox" value="" checked="@item.EngProc" /></label>
                                &nbsp; Date Received
                            </td>
                            <td class="table_content" style="text-align:center;" colspan="3">
                                &nbsp;
                                @Html.DisplayFor(model => item.EngProcReceived, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:center;" colspan="4">
                                Spanish Proclamation
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" colspan="1">
                                <label><input type="checkbox" value="" checked="@item.SpnProc" /></label>
                                &nbsp; Date Received
                            </td>
                            <td class="table_content" style="text-align:center;" colspan="3">
                                &nbsp;
                                @Html.DisplayFor(model => item.SpnProcReceived, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" style="text-align:center;" colspan="4">
                                Candidate Photo(s)
                            </td>
                        </tr>
                        <tr>
                            <td class="table_header" colspan="1">
                                <label><input type="checkbox" value="" checked="@item.Photo" /></label>
                                &nbsp; Date Received
                            </td>
                            <td class="table_content" style="text-align:center;" colspan="3">
                                &nbsp;
                                @Html.DisplayFor(model => item.PhotoReceived, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-7">
                    @if (item.AltContactName != null)
                    {
                        <table style="width:100%; border:1px solid black;">
                            <tr>
                                <td class="table_content" style="text-align:left;">
                                    &nbsp; Contact:
                                    @Html.DisplayFor(model => item.AltContactName, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="table_content" style="text-align:left;">
                                    &nbsp;
                                    @Html.DisplayFor(model => item.AltContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="table_content" style="text-align:left;">
                                    &nbsp; Email:
                                    @Html.DisplayFor(model => item.AltContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        </table>
                        <br />
                    }
                </div>
            </div>

            @if (item.SpecialInstructions != null)
            {
                <div class="row">
                    <div class="col-lg-10 col-md-12">
                        Special Instructions:
                        @*@Html.DisplayFor(model => model.SpecialInstructions, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.Raw(Html.Encode(item.SpecialInstructions).Replace("\n", "<br />"))
                    </div>
                </div>
            }

            @if (item.ElectionEventsCalendar != null)
            {
                <div class="row">
                    <div class="col-lg-10 col-md-12">
                        <br />
                        <table style="width:100%; border:1px solid black;">
                            @foreach (var subitem in item.ElectionEventsCalendar)
                            {
                                <tr>
                                    <td class="table_content" style="text-align:left; width:10%;">
                                        @Html.DisplayFor(modelItem => subitem.EventDate, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td class="table_content" style="text-align:left;">
                                        @Html.DisplayFor(modelItem => subitem.ElectionEvent, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
        <hr />
        <br />
    }
}
else
{
    <div>
        @Html.ActionLink("Sales Order", "Order", "Sales", new { so = ViewBag.SalesOrder }, new { @class = "btn btn-primary link_small" })

        @Html.ActionLink("Purchase Order", "Order", "Purchase", new { so = ViewBag.SalesOrder }, new { @class = "btn btn-primary link_small" })

        @Html.ActionLink("Shipping Order", "Order", "Shipping", new { so = ViewBag.SalesOrder }, new { @class = "btn btn-primary link_small" })

        @Html.ActionLink("Election Order", "Order", "Election", new { so = ViewBag.SalesOrder }, new { @class = "btn btn-primary link_small" })

    </div>

    <br />

    <div>
        @Html.ActionLink("Add Election Order", "Add", "Election", new { so = ViewBag.SalesOrder }, new { @class = "link_small" })
    </div>

    <h2 style="text-align:center;">Election Order</h2>
}

@section scripts{
    <script type="text/javascript">
        var EditElectionOrder = function (id) {
            console.log(id);
            window.location.replace("../Election/Edit?eo=" + id);
        };
    </script>
}
